@media (max-width: 1040px) {
    .intro {
        display: inline;
        
    }
    .intro__info {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .intro__image {
        margin: 0 auto;
    }
}
@media (max-width: 900px) {
    .header__list {
        display: none;
    }
    .header__list-item a{
        color: #828282;
    }
    .header__nav_open .header__list {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        flex-direction: column;
        row-gap: 45px;
        font-size: 34px;
        font-weight: 600;
        padding: 46px 30px;
        transition: all 0.3s ease 0s;
    }
    .header__button-nav {
        display: flex;
    }
    .header__list-item_active a{
        color: #000000;
    }
    .header__button-nav_active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__button-nav_active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__button-nav_active span {
        transform: scale(0);
    }
    
    .services {
        padding: 60px 0;
    }
    .services__list {
        display: inline;
    }
    .services__list-item {
        margin-bottom: 30px;
    }
    .services__list-item:last-child {
        margin: 0;
    }
    .services__icon {
        margin-bottom: 20px;
    }


    .intro__title {
        font-size: 34px;
    }


    .projects__title {
        margin-bottom: 50px;
    }
    .projects__list-item {
        margin-bottom: 50px;
    }
}
@media (max-width: 400px) {
    .footer__list {
        column-gap: 40px;
    }
}